body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    top: 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.Login{
    
    float: right;
    color: white;
    margin-right:0px;
}
.top-buffer { margin-top:20px; }
.winkelmand{
    margin-left: 20px;
}
.navbar-custom {
    color: #ff0000;
    background-color: #CC3333;
}


